<br>
<br>
<br>
<br>
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Вход в систему</h2>
        <label for="inputEmail" class="sr-only">Емейл адрес</label>
        <input ng-model="ctrl.Email" type="email" id="inputEmail" class="form-control" placeholder="Емейл адрес" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input ng-model="ctrl.Password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>

</div>

<!--<img src="staff/images/social_buttons.jpg">-->