<br>
<br>
<br>
<div class="loggin-page container">
    <div class="row">
        <label for="mail">Электронная почта:</label>
        <input id="mail" type="email" ng-model="ctrl.Email">
    </div>
    <div class="row">
        <label for="pass">Пароль:</label>
        <input id="pass" type="password" ng-model="ctrl.Password">
    </div>
    <div class="row">
        <img src="staff/images/social_buttons.jpg">
    </div>
    <div class="row">
        <input type="button" value="Войти" ng-click="ctrl.Login()">
    </div>
</div>